.pmm-mega-menu {
    width: 100%;
    position: relative;
}
.pmm-mega-menu,
.pmm-mega-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;    
}
.pmm-mega-menu-primary-nav-item {
    float: left;
}
.pmm-mega-menu-primary-nav-item .pmm-mega-menu-link {
    padding: 10px;
}
.pmm-mega-menu-item {}
.pmm-mega-menu-item .pmm-mega-menu-link {}
.pmm-mega-sub-menu {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 999;
    left: 0;
    background: #fff;
}
.pmm-mega-menu-primary-nav-item.pmm-mega-menu-item-has-children:hover .pmm-mega-sub-menu {
    display: block;
}
.pmm-mega-sub-menu .pmm-mega-menu-column {
    width: 100%;
    padding: 5px;
}
.pmm-mega-sub-menu.pmm-mega-menu-columns-2 .pmm-mega-menu-column {
    float: left;
    width: 49%;
    margin-right: 2%;
}
.pmm-mega-sub-menu .pmm-mega-menu-column:last-child {
    margin-right: 0;
}
.pmm-mega-menu-column .pmm-mega-menu-row {}
.pmm-mega-menu-column .pmm-mega-menu-row .pmm-mega-menu-item {}
.pmm-mega-menu-column .pmm-mega-menu-row .pmm-mega-menu-item .pmm-mega-menu-link {}