#pickle-mega-menu-admin {
    overflow: hidden;
}
#pickle-mega-menu-admin .pmm-manage-menus {
    
}
#pickle-mega-menu-admin .menu-items-column {
    float: left;
    width: 15%;
    margin-right: 2%;
}    
#pickle-mega-menu-admin .menu-items-column .menu-items-container {
    
} 
#pickle-mega-menu-admin .menu-items-column .menu-items-container .menu-items-list {
    
} 
#pickle-mega-menu-admin .menu-items-column .menu-items-container .menu-items-list .pages-list {
    
} 
#pickle-mega-menu-admin .menu-items-column .menu-items-container .menu-items-list .pages-list li {
    
}                     
#pickle-mega-menu-admin .menu-management-column {
    float: left;
    width: 83%;
}                 
#pickle-mega-menu-admin .menu-management-column .menu-management {
    
} 
#pickle-mega-menu-admin .menu-management-column #pmm-menu-grid {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #fff;
    padding: 15px;
}
#pickle-mega-menu-admin .menu-options {
    overflow: hidden;
}
#pickle-mega-menu-admin .menu-options .menu-name {
    float: left;
}
#pickle-mega-menu-admin .menu-options .menu-columns {
    float: left;
    margin-left: 10px;
}
#pickle-mega-menu-admin .menu-options .menu-columns .columns-dropdown {
    display: none;
    background-color: #fff;
    z-index: 9999;
    width: 50px;
    padding: 5px 10px;
}
#pickle-mega-menu-admin .menu-options .menu-columns:hover .columns-dropdown {
    display: block;
}
#pickle-mega-menu-admin .menu-options .menu-columns .columns-dropdown ul {
    margin: 0;
}
#pickle-mega-menu-admin .menu-options .menu-columns .columns-dropdown ul li {
    margin-bottom: 0;
}
#pickle-mega-menu-admin .menu-options .menu-columns #pmm-menu-columns-selector {
    font-size: 18px;
} 
#pickle-mega-menu-admin .menu-options .save-menu-button {
    float: right;
}

#pmm-menu-grid {
    overflow: hidden;
}
#pmm-menu-grid .column {
    width: 32%;
    float: left;
    margin-right: 2%;
}  
#pmm-menu-grid .column .sortable-list {
    background-color: #F93;
    list-style: none;
    margin: 0;
    min-height: 60px;
    padding: 10px;    
}
#pmm-menu-grid .column .sortable-list li {
    background-color: #FFF;
    border: 1px solid #000;
    cursor: move;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 20px 0;
    text-align: center;    
}
#pmm-menu-grid .column .sortable-list li.placeholder {
    border-style: dashed;    
}
#pmm-menu-grid .column .sortable-list li.placeholder.level-1,
#pmm-menu-grid .column .sortable-list li.level-1 {
    margin-left: 20px;  
}
#pmm-menu-grid .column .sortable-list li.placeholder.level-2,
#pmm-menu-grid .column .sortable-list li.level-2 {
    margin-left: 40px;
}